<nav class="p-6 bg-sky-200">
  <div class="container flex flex-wrap items-center justify-between mx-auto bg-white/30 p-4">
    <a href="/" class="flex items-center">
      <span class="self-center text-xl font-semibold whitespace-nowrap text-black  ">Voting System</span>
    </a>
    <div class="w-auto">
      <ul class="flex">
        <li>
          <a href="/reset-password" class="block px-4 text-black rounded ">Reset password</a>
        </li>
        <li>
          <a href="/signout" class="block px-4 text-black rounded">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>