<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body class="bg-gray-40">    
    <div class="relative flex min-h-screen text-gray-800 antialiased flex-col  overflow-hidden bg-blue-100 py-8 sm:py-12">
        <div class="relative py-19 sm:w-100 mx-auto text-center">
            <div class="mt-4 bg-gray-100 shadow-md rounded-lg p-3 uppercase ">
                <span class="text-2xl font-medium font-light text-center">Login to your account</span>          
            </div>
            
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-purple-100 my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <div class="mt-4 bg-gray-50 shadow-md rounded-lg text-left">
                <form action="/session" method="post" class="px-8 py-8">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <label for="Email" class="block mt-3  bg-gray-50 shadow-md text-1xl font-medium  uppercase p-2">Email</label>
                    <input id="Email" name="Email" type="email" placeholder="Email" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md" required>
                    <label for="Password" class="block mt-3  bg-gray-50 shadow-md text-1xl font-medium  uppercase p-2">Password</label>
                    <input id="Password" name="Password" type="password" placeholder="Password" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md" required>
                    <div class="mt-2 flex justify-center"> 
                        <button type="submit" class="mt-6 w-fit bg-gray-50 shadow-md text-black text-2xl font-medium font-light py-1 px-6 rounded-md hover:bg-black hover:text-white uppercase">Login</button>
                    </div> 
                    <div class="mt-4">
                        <p  class="mt-6 w-full bg-gray-100 shadow-md text-black text-2xl font-medium font-light py-1 px-6 rounded-md  uppercase">Don't have an account? </p>
                    </div>    
                    <div class="mt-1 flex justify-center">   
                        <a href="/signup" class="mt-6 w-fit bg-gray-50 shadow-md text-black text-2xl font-medium font-light py-1 px-6 rounded-md hover:bg-black hover:text-white uppercase">Sign up</a>
                    </div>                    
                </form>
            </div>            
        </div>
    </div>
</body>
</html>